body {
    padding-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.page {
	display: none;
	opacity: 0;
}
.page.current {
	display: block;
}